* {
    margin: 0;
    font-family: 'Montserrat';
}

body {
    background-color: #000;
    width: 100%;
    max-width: 1200px;
    margin: 61px auto 0;
    background-image: url('./img/backround.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 85%;
    background-position-x: left;
    background-position-y: top;
}

a {
    text-decoration: none;
    color: #e4e5ea;
}
/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    align-content: flex-start;
    color: #e4e5ea;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.header-section {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.logo {
    max-width: 135px;
    margin-right: 24px;
}

.logo-text {
    margin-top: 10px;
    width: 135px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
}

.navigation-item {
    display: inline-block;
    margin: 5px 0 0 30px;
    line-height: 19px;
    text-decoration: none;
    font-weight: 500;
    line-height: 19px;
}

.header-right__social {
    margin: 5px 0 0 35px;
    word-wrap: none;
}

/* MAIN */
.section-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 94px 0;
}

.section-left {
    color: #e4e5ea;
}

.header-secondary {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    align-content: stretch;
}

.header-secondary--gradient {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    background: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%), #e4e5ea;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.section-left__text {
    margin-top: 30px;
    max-width: 275px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.section-right {
    max-width: 350px;
    text-align: end;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    color: #e4e5ea;
}

.section-right__header {
    grid-column: 1/-1;

    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: right;
}

.section-right__header--free {
    grid-column: 1/3;
    text-transform: uppercase;

    background: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%),
        linear-gradient(0deg, #e4e5ea, #e4e5ea);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
}

.section-right__header--span-white {
    color: #e4e5ea;
    background-color: #e4e5ea;
    text-transform: none;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.section-right__item {
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.section-right__item h4 {
    margin-bottom: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    text-align: right;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.section-right__item span {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: right;
    text-transform: none;
}

.section-right__bottom {
    grid-column: 1/3;
    background: #4077f3;
    min-width: 262px;
    height: 60px;
    place-self: end;
    position: relative;
    margin-top: 60px;
}

.section-right__bottom--text {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: inline;
    text-align: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #e4e5ea;
}

/* FOOTER */

.footer {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #e4e5ea;
}

.footer-container__left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.extra-margins {
    margin: 0 52px 98px;
}

.footer-container__left--item > a {
    margin-bottom: 10px;
}

.footer-container__left--item {
    display: flex;
    flex-direction: column;
}

.footer-item__header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #656566;
}

.footer-container__right {
    display: flex;
    flex-direction: column;
}

.footer-right__contacts {
    margin-bottom: 22px;
    text-align: right;
}

.footer-right__contacts img {
    margin-right: 14px;
}

.rights {
    margin: 70px 0 20px 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
}
